name: Build & Push Docker Image

on:
  push:
    branches:
      - main  # Only trigger when pushing/merging to main branch

jobs:
  docker-build-and-push:
    name: Build Docker Image and Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            sanjaykarmakar/docker-node-environment:latest
            sanjaykarmakar/docker-node-environment:v1.0.0
            sanjaykarmakar/docker-node-environment:${{ github.sha }}